{% extends 'base.html.twig' %}

{% block body %}
<section id="cgu">
    <h1>Mentions légales</h1>
    <p>
        Le site Skill Swap est la propriété de la société Omada.<br>
        Omada est représentée par Madame Alix Bourgeais.<br>
        Siège social : 16 rue Auguste Letellier L-1932 Luxembourg<br>
        RCS : A43007 – Autorisation d’établissement : N° 10129697 / 0 – TVA : LU33083623<br>
        Tél. : + 352 621 380 516<br>
        Courriel : <a href="mailto:alix.bourgeais@omadalux.com" target="_blank" rel="noreferrer noopener">alix.bourgeais@omadalux.com</a>
    </p>
    <h2>Notice légale</h2>
    <p>
        Skill Swap a pour objet de mettre en relation des personnes.
    </p>
    <h2>Définitions</h2>
    <p>
        Dans le texte des Mentions légales certains termes auront la définition suivante :<br>
        « Cookies » : les fichiers stockés sur le disque dur du visiteur, afin de permettre au serveur web de le reconnaître d’une page web à l’autre. Ils sont notamment utilisés afin de conserver les préférences de ce visiteur et lui rendre toute future visite plus rapide.<br>
        « Donnée à caractère personnel » : La définition est fournie par le texte modifié conformément à la loi du 1er août 2018 portant organisation de la Commission nationale pour la protection des données .<br>
        « Site » : le site web de Omada sous l’arborescence du domaine « omadalux.com »
    </p>
    <h2>Obligations du visiteur</h2>
    <p>
        Vous vous engagez à ne pas faire fonctionner ou persister un programme lorsque vous pouvez raisonnablement présumer qu’il entrave le bon fonctionnement du Site.
    </p>
    <h2>Clause limitative de responsabilité</h2>
    <p>
        Omada ne peut être tenue responsable pour toute  information qui s’avère erronée ou non actualisée sur ce Site.<br>
        Elle décline également toute responsabilité en cas d’interruption, même temporaire, du service de ce Site.<br>
        Tout dommage éventuel causé à l’installation informatique du visiteur suite à l’usage de ce Site ne peut en aucun cas entrainer la responsabilité d'Omada.<br>
        Ne disposant pas de la capacité de contrôler les sites auxquels elle renvoie, Omada décline toute responsabilité quant à leur contenu.
    </p>
    <h2>Droit d'auteur</h2>
    <p>
        Le contenu de ce Site (textes, marques, logos, images, sons, etc.) est protégé par le droit d’auteur tel que règlementé par la loi du 18 avril 2001 sur les droits d’auteur, les droits voisins et les bases de données.<br>
        Pour toute reproduction, il vous est donc indispensable d’obtenir l’accord préalable de leur auteur.
    </p>
    <h2>Protection des données personnelles</h2>
    <p>
        Le responsable du traitement des données pouvant être collectées sur le Site est Omada.<br>
        En principe, Omada ne collecte pas de données à titre personnel par le biais de ce Site. Néanmoins lors de diverses communications reçues par les visiteurs, certaines données à caractère personnel pourront être transmises. Ces données ne sont conservées que pour le temps strictement nécessaire à leur traitement.
    </p>
    <p>
        Conformément à la loi du 1er août 2018 portant organisation de la Commission nationale pour la protection des données, vous disposez d’un droit d’information, d’accès, d’opposition sur les données personnelles vous concernant et que vous pouvez exercer auprès de Omada en adressant un courrier postal à l’adresse suivante :
    </p>
    <p>
        Omada<br>
        16 rue Auguste Letellier<br>
        L-1932 Luxembourg
    </p>
    <h2>Newsletter</h2>
    <p>
        Les données recueillies sur ce Site parviennent de l’enregistrement volontaire de vos données. Vos nom, prénom (éventuellement si demandé) et votre adresse e-mail sont recueillis dans le but de vous adresser une newsletter.<br>
        En indiquant votre adresse mail dans la case prévue à cet effet ou en donnant expressément votre accord à cette fin, vous acceptez que Omada puisse vous faire parvenir, à une fréquence et sous une forme qu’elle déterminera, une newsletter pouvant comporter des informations relatives à son activité.<br>
        Si vous souhaitez interrompre votre abonnement, vous pouvez à tout moment vous désabonner à partir de nos newsletters en cliquant sur le lien prévu à cet effet en bas de page.
    </p>
    <h2>Adresse mail</h2>
    <p>
        Lorsque vous envoyez un email via le Site internet, les données personnelles que vous fournissez volontairement sont utilisées pour vous répondre directement.
    </p>
    <h2>Formulaires</h2>
    <p>
        Les données personnelles fournies volontairement pour les besoins des demandes de réservations et informations, sont utilisées pour la formation de contrat à venir.
    </p>
    <h2>Besoins statistiques</h2>
    <p>
        Lorsque des données à caractère personnel sont utilisées pour des besoins de statistiques (établir le nombre de visiteurs sur le Site, les pages les plus visionnées ou encore les questions fréquemment posées), elles sont recueillies de façon anonyme.
    </p>
    <h2>Cession des données</h2>
    <p>
        Omada ne transmet pas à des tiers à titre onéreux ou gratuit les informations collectées sur ce Site.
    </p>
    <h2>Cookies - OPT IN</h2>
    <p>
        Pour pouvoir accéder à l’ensemble des fonctionnalités offertes par le Site, il est recommandé d’accepter l’utilisation des Cookies.<br>
        Vous disposez toujours de la possibilité de refuser la conservation de cookies placées par le Site. Pour ce faire il vous suffit de suivre les indications ci-dessous :<br>
         Dans Mozilla Firefox (les cookies y sont activés par défaut)
    </p>
    <ol>
        <li>En haut de la fenêtre de Firefox, cliquez sur le bouton Firefox, puis sélectionnez Options.</li>
        <li>Sélectionnez le panneau Vie privée.</li>
        <li>Paramétrez Règles de conservation : à utiliser les paramètres personnalisés pour l’historique».</li>
        <li>Décochez la case Accepter les cookies pour les désactiver.</li>
    </ol>
    <p> Dans Internet Explorer</p>
    <ol>
        <li>Cliquez sur le bouton Outils en haut à droite, puis sur Options Internet.</li>
        <li>Cliquez sur l’onglet Confidentialité, puis déplacez le curseur en position intermédiaire de façon à ne pas bloquer et à ne pas autoriser tous les cookies.</li>
        <li>Cliquez sur Sites.</li>
        <li>Dans la zone Adresse du site Web, tapez l’adresse d’un site Web, puis cliquez sur Bloquer.</li>
        <li>Au fur et à mesure que vous tapez, une liste des pages Web que vous avez déjà visitées s’affiche. Si vous cliquez sur un élément dans la liste, celui-ci s’affiche dans la zone Adresse du site Web.</li>
        <li>Lorsque vous avez terminé, cliquez sur OK.</li>
    </ol>
    <p> Dans Google Chrome</p>
    <ol>
        <li>Cliquez sur le menu Google Chrome dans la barre d’outils du navigateur.</li>
        <li>Sélectionnez Paramètres.</li>
        <li>Cliquez sur Afficher les paramètres avancés.</li>
        <li>Dans la section «Confidentialité», cliquez sur le bouton Paramètres de contenu.</li>
        <li>Dans la section «Cookies», vous pouvez modifier le paramètre suivant :</li>
    </ol>
    <p>
        Bloquer tous les Cookies : sélectionnez l’option «Interdire à tous les sites de stocker des données». Veuillez noter que la sélection de ce paramètre empêche le fonctionnement de la plupart des sites qui nécessitent une connexion de votre part. Une icône apparaît dans la barre d’adresse chaque fois qu’un cookie est bloqué.<br>
        Ne bloquer que les cookies tiers : cochez la case «Bloquer les cookies et les données de site tiers». Lorsque cette option est sélectionnée, aucun cookie tiers n’est accepté, y compris ceux des sites que vous avez ajoutés aux exceptions et dont vous avez autorisé les cookies.
    </p>
    <h2>Modification des mentions légales</h2>
    <p>Omada est susceptible de modifier à tout moment les présentes mentions légales.<br>
        Il vous est donc conseillé de les consulter régulièrement.<br>
        Loi applicable et juridictions compétentes<br>
        Les juridictions du Grand-Duché de Luxembourg sont compétentes pour tout litige naissant en raison de l’existence ou du contenu du présent Site.<br>
        La loi applicable aux présentes mentions légales est la loi luxembourgeoise.
    </p>
</section>
{% endblock %}
