{% extends 'base.html.twig' %}

{% block body %}
<section class="home">
    {% if is_granted("ROLE_USER") %}
        <h1>Bienvenue {{ app.user.firstname }}</h1>
    {% else %}
        <h1>Pour les entrepreneurs</h1>
    {% endif %}
    <main>
        <img src="{{ asset('build/images/home.jpg') }}" alt="">
        <div>
            <p>
                Bienvenue sur « Skill Swap », la plateforme d’échange de talents sans échange monétaire. Pour trouver
                des compétences en vue de son lancement d’entreprise. Pour bien s’entourer. Pour se donner toutes les
                chances de réussite. Pour agrandir le monde des possibles. Facilitons la réussite collective dans une
                dynamique d’échange vertueux !
            </p>
        </div>
    </main>
</section>
{% endblock %}
