{% extends 'base.html.twig' %}

{% block body %}
<section class="sectionHome">
    {% if is_granted("ROLE_USER") %}
         <h1 class="titleHome">Bienvenue {{ app.user.firstname }}</h1>
    {% else %}
        <h1 class="titleHome">Des Swaps pour les entrepreneurs</h1>
    {% endif %}
    <main class="mainHome">
        <img class="imgHome" src="{{ asset('build/images/home.png') }}" alt="">
        <div class="divHome">
            <p class="pHome">
                Bienvenue sur « Skill Swap », la plateforme d’échange de talents sans échange monétaire. Pour trouver
                des compétences en vue de son lancement d’entreprise. Pour bien s’entourer. Pour se donner toutes les
                chances de réussite. Pour agrandir le monde des possibles. Facilitons la réussite collective dans une
                dynamique d’échange vertueux !
            </p>
        </div>
    </main>
</section>
{% endblock %}
