{% extends 'base.html.twig' %}

{% block body %}
<section class="home">
    {% if is_granted("ROLE_USER") %}
        <h1>Bienvenue {{ app.user.firstname }}</h1>
    {% else %}
        <h1>Pour les entrepreneurs</h1>
    {% endif %}
    <div class="main">
        <div class="container-img">
        <img src="{{ asset('build/images/home.jpg') }}" alt="image page home deux hommes se serrent la main">
        </div>
        <div class="homepicture">
            <p>
                <b>Bienvenue sur « Skill Swap », la plateforme d’échange de talents sans considération monétaire. Pour trouver
                des compétences en vue de son lancement d’entreprise. Pour bien s’entourer. Pour se donner toutes les
                chances de réussite. Pour agrandir le monde des possibles. Facilitons la réussite collective dans une
                dynamique d’échange vertueux !</b>
            </p>
            <br>
            <p>
                Vous souhaitez aider ou être aidé(e) ? Inscrivez-vous sur le site, complétez votre profil en indiquant notamment
                dans quels domaines vous êtes compétent(e). La suite est simple : lancez une recherche, sélectionnez un profil et démarrez
                un swap. Ca y est, vous pouvez échanger vos compétences ! Lorsque vous avez terminé, n'oubliez pas d'évaluer votre interlocuteur !
            </p>
        </div>
    </div>
</section>
{% endblock %}
