{% extends 'base.html.twig' %}

{% block body %}

<section class="sectionHome">
    <h1 class="titleHome">Skill Swap for Entrepreneurs</h1>
    <main class="mainHome">
        <img class="imgHome" src="{{ asset('build/images/home.png') }}" alt="">
        <div class="divHome">
            <p class="pHome">
                Welcome to "Skill Swap", the platform for exchanging talent without monetary exchange.
                To find the missing skills to support your business launch. To surround yourself with the right people.
                To give yourself every chance of success. To expand the world of possibilities. Let's facilitate
                collective success in a dynamic of virtuous exchange!
            </p>
        </div>
    </main>
</section>
{% endblock %}
