<h1>Bonjour !</h1>
<p>
    Veuillez confirmer votre adresse mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer votre email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<h1>Information.</h1>
<p>Bienvenue sur « Skill Swap », la plateforme d’échange de talents sans échange monétaire.
    Pour trouver des compétences en vue de son lancement d’entreprise. Pour bien s’entourer.
    Pour se donner toutes les chances de réussite. Pour agrandir le monde des possibles. Facilitons la réussite
    collective dans une dynamique d’échange vertueux !
</p>

<h2>Pensez à compléter votre profil afin que nous puissions tous bénéficier d'une meilleure expérience utilisateur.</h2>
<p>
    L'équipe Skill Swap vous remercie.
</p>