<h1>Bonjour !</h1>
<p>
    Veuillez confirmer votre adresse mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer votre email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    Mais avant, prenez connaissance du guide d'utilisation qui se trouve juste après...
</p>

<h1>Petit guide pour de grands projets</h1>
<p>Bienvenue sur « Skill Swap », la plateforme d’échange de talents sans considération monétaire.
   Vous souhaitez lancer votre activité ou la développer mais vous ne disposez pas des compétences nécessaires dans des domaines clés comme la fiscalité, la logistique, la formation ou encore l'évènementiel ? Skill Swap ouvre le champ des possibles en vous offrant la possibilité d'être mis en relation avec d'autres entrepreneurs, prêts à vous aider sur simple demande. Alors, prêt(e) à lancer un "swap" ?
</p>
<h2>Comment compléter votre profil ?</h2>
<p>Vous venez de vous inscrire. Vous allez donc pouvoir vous connecter à votre compte ("connexion" dans la barre de navigation).
Rendez-vous ensuite sur votre profil ("profil dans la barre de navigation") Dans cette page, encore vierge, vous pourrez</p>
<ul>
    <li>modifier votre profil : indiquer le lien de votre profil LinkedIn, le nom de votre société...</li>
    <li>sélectionner vos skills : il s'agit de cocher les compétences dans lesquelles vous pouvez apporter de l'aide à d'autres utilisateurs.
    Attention, vous pouvez sélectionner jusqu'à 5 skills, pas plus. Pensez également à valider vos skills ("Valider vos compétences" en haut de l'onlget déployé à gauche)</li>
</ul>
<h2>Comment lancer un swap ?</h2>
<p>Pour lancer une demande d'aide (un "swap"), rendez-vous dans "Rechercher" (barre de navigation) et déployez le menu déroulant afin de sélectionner la compétence recherchée."</p>
<p>Les utilisateurs ayant ajouté cette compétence à leur profil apparaissent sous forme de cartes. Vous pouvez avoir plus de détails sur chacun d'eux en cliquant sur "En savoir plus".</p>
<p>Lorsque vous avez choisi un utilisateur, vous pouvez initier un swap en cliquant sur "Lancer un swap". La conversation est lancée. Laissez votre message en expliquant vos besoins.Votre interlocuteur en sera automatiquement averti et pourra vous répondre.</p>
<h2>Comment mettre fin à un swap ?</h2>
<p>Lorsque votre interlocuteur a pu vous apporter l'aide nécessaire, il est temps de mettre fin au swap. Pour cela, rendez-vous dans votre tableau de bord (barre de navigation).
Cette page indique tous les swaps dont vous êtes émetteur ou destinataire. <b>Vous ne pouvez mettre fin qu'aux swaps que vous avez lancés</b>. Choisissez celui auquel vous souhaitez
mettre fin en cliquant sur "voir les détails". Après le récapitulatif des messages échangés entre vous et votre interlocuteur(trice), cliquez sur "terminez le swap".
Un message vous indique que le swap a bien été cloturé.</p>
<p>Vous avez également la possibilité, mais ce n'est pas obligatoire, d'évaluer le swap sous la forme d'un message et d'un note sous forme d'étoiles. Attention, le message sera visible
et la note que vous donnerez sera prise en compte dans la note moyenne de votre interlocuteur/trice.</p>
<br>
<p>Skill Swap vous remercie !</p>

