<p>Bonjour,</p>
<p>Vous avez reçu une demande d'aide sur le thème "{{ user.skill.name }}" avec {{ user.asker.firstname }}</p>
<p>Voici le message : {{ user.message }}</p>
<p>Rendez-vous sur le site pour prendre connaissance de celle-ci.</p>
<p>L'équipe Skill Swap vous remercie.</p>