 
<p>Bonjour</p>
<p>{# user.message #}</p>
<p>Bonne réception.</p>
{% if swap.asker.id == app.user.id %}
    <p>{{ user.asker.firstname }}</p>
{% else %}
    <p>{{ user.helper.firstname }}</p>
{% endif %}