<form method="post" action="{{ path('admin_comment_delete', {'idUser': user.id, 'idComment': comment.id}) }}" onsubmit="return confirm('Êtes-vous de vouloir supprimer ce commentaire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
    <button type="btn" class="btn btn-outline-danger rounded-pill">Supprimer</button>
</form>
