{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<section>
    <h1>Attention</h1>
    <p>Merci de valider votre inscription en cliquant sur le lien qui vous a été envoyé par mail.</p>
    <a href="{{ path('home') }}">retour à la page d'accueil</a>
</section>
{% endblock %}