.adminDashboard {

    .dashboard {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    img {
        width: 290px;
        height: 150px;
    }

    .card {
        width: 18rem;
    }
}



.adminNav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.adminNav a button {
    width: 150px;
}

.adminUserShow {

    img {
        width: 250px;
    }
}