.dashboard {
    display: flex;
    justify-content: space-around;
}

.adminNav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.adminNav a button {
    width: 150px;
}

.adminUserShow {

    img {
        object-fit: cover;
        width:250px;
        height:250px;
    }

    .comment {
        height: 80px;
        overflow: auto;
    }

}