body {
    margin: 0;
    min-width: $width-min;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $dark;
}

@media (min-width: $width-desktop) {

    body {
        align-items: center;
    }
}