.rating_widget {
    display: flex;
    flex-direction: column;
}

.form-check-input {
    visibility: hidden;
}

.form-check-label {
    color: lightgrey;
    font-size: 150%;
}

.form-check-label:hover {
    color: gold;
}