.form_contact {
    padding: 3rem;
}
 @media (min-width: $width-tablet) {
    input, h1 {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
    }
 }