body {
    text-align: center;
    color: $light;
}

h1 {
    font-size: 1.75rem;
}

a {
    text-decoration: none;
    color: $light;
}

.contact_form {
    margin-bottom: 20px;
}

.contact_label {
    margin-right: 10px;
}

.contact_widget {
    width: 150px;
}
