.home {

    margin-bottom: auto;

    h1 {
        text-align: center;
        margin-bottom: 3em;
    }
    
    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 15px;
        align-items: center;
    }

    img {
        max-width: $width-tablet;
        width: 100%;
    }

    .container-img{
        display:block;
        overflow:hidden;
            
    }
    
    .container-img img{
        width:100%;
        height:100%;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
    
    .container-img:hover img{
        transform:scale(1.2);
    }
    

    p {
        text-align: justify;
        margin: 15px;
        color: $light;
        font-size: 1.2rem;
    }

    .homepicture {
        width: 700px;
    }

    .hometext {
        width: 700px;
    }
}