.profile {

    .mainProfile {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .userPicture{
        width: 200px;
        height: 200px;
        border-radius: 30px;
    }

    .profilTop {
        display: flex;
        margin: 20px 30px;
        align-items: center;
    }

    .profilRight {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
        height: 70%;
    }

    .profilRight .btn {
        width: 120px;
    }

    .profilBottom li, .profilTable li, .description li {
        list-style-type: none;
    }

    .description, .profilBottom, .profilTable {
        margin: 10px 5px 10px 5px;
    }

    .description{
        text-align: justify;
        margin-right: 30px;
    }

    .profilBtnEdit {
        text-align: center;
        margin-left: 30px;
    }

    .profilBottom form, .profilBottom h5 {
        margin-left: 30px;
    }

    .btnModifProfile {
        color: $bgnav2;
        border: $bgnav2 solid 1px;
    }

    .btnModifProfile:hover {
        color: $dark;
        background-color: $bgnav2;
        border: $bgnav2 solid 1px;
    }

    .form-check-input{

        width: 1em;
        height: 1em;
        border: 1px $bgnav2 solid;
        box-shadow: none;
        &:checked {
            background-color: $bgnav2;
        }
    }

    .imgDeleteCom {
        width: 20px;
    }

    .comments{
        margin: 10px 40px;
    }

    .toast {
        margin-bottom: 20px;
    }

    .toast small {
        margin-right: 25px;
    }

    @media (min-width: $width-tablet) {

        .desktopProfile {
            display: flex;
        }

        .profilTable {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .desktopLeft {
            max-width: 75%;
            max-height: 600px;
        }

        .comments {
            max-width: 50%;
            margin: 10px 10px 40px 0px;
        }

        .comment {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    @media (min-width: 1028px) {

        .comments {
            max-width: 70%;
        }

        .profilBottom {
            margin-right: 20px;
        }
    }

    @media (min-width: 1218px) {

        .comments {
            margin: -550px 10px 40px 40px;
        }  
    }

    @media (min-width: $width-max) {

        .comments {
            max-width: 78%;
        }
    }
}

.imgDeleteCom {
    width: 20px;
}

.comments{
    margin-left: 40px;
}

.toast {
    margin-bottom: 10px;
}

.toast small {
    margin-right: 10px;
}