.profile {

    
    .userPicture{
        object-fit: cover;
        width:250px;
        height:250px; 
    }

    li {
        list-style-type: none;
    }

    .skillList li {
        list-style-type: circle;
    }

    .availability {
        min-width: 115px;
    }

    .description{
        text-align: justify;
    }

    .form-check-input{

        width: 1em;
        height: 1em;
        border: 1px $bgnav2 solid;
        box-shadow: none;

        &:checked {
            background-color: $bgnav2;
        }
    }

    .imgDeleteCom {
        width: 20px;
    }

    .toast-body {
        max-height: 120px;
        overflow: auto;
    }

    .comment {
        display: flex;
        flex-wrap: wrap;
    }

    .star{
        height: 20px;
    }

    @media (min-width: $width-tablet) {

        
    }

    @media (min-width: 1028px) {

        
    }

    @media (min-width: 1218px) {

        
    }

    @media (min-width: $width-max) {

        
    }
}