.mainProfile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.userPicture{
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.profilTop {
    display: flex;
    margin: 20px 30px;
    align-items: center;
}

.profilRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    height: 70%;
}

.profilRight .btn {
    width: 120px;
}

.profilTable li, .description li {
    list-style-type: none;
}

.description, .profilBottom, .profilTable {
    margin: 10px 5px 10px 5px;
}
.description{
    text-align: justify;
}

.profilBtnEdit {
    text-align: center;
    margin-left: 30px;
}

.btnModifProfile {
    color: $bgnav2;
    border: $bgnav2 solid 1px;
}

.btnModifProfile:hover {
    color: $dark;
    background-color: $bgnav2;
    border: $bgnav2 solid 1px;
}

.imgDeleteCom {
    width: 20px;
}

.comments{
    margin-left: 30px;
    margin-top: 10px;
}

.toast {
    margin-bottom: 10px;
}

.toast small {
    margin-right: 25px;
}

@media (min-width: $width-tablet) {

    .desktopProfile {
        display: flex;
    }

    .profilTable {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .desktopLeft {
        max-width: 75%;
        max-height: 600px;
    } 
}

@media (min-width: $width-desktop) {

    .desktopMax {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .comments{
        margin-top: -500px;
     }

     .comment {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}