.register {
    margin: 3em;
    align-items: center;

    .form-control:valid {
        background-color: $light2!important;
    }

    .form-control:user-valid {
        background-color: $bgnav1!important;
    }

    input, form {
        width: 400px;
        border-radius: 1em;
    }
}