.card {
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #f8f6f5;
    border: 5px solid #333333;
    min-height: 300px;
    margin: 1em;
    min-width: 300px ;
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    border: 5px solid #fd3305e7;
    box-shadow: 5px 3px 2px #e76f54;
}

.card-img-top {
    border-radius: 0.8em;
    width: 100%;
    max-height: 250px;
    box-shadow: 5px 7px 3px rgb(66, 64, 64);
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

hr {
    color: #333333;
}

.p_contain {
    height: 80px;
    overflow: auto;
}

.swap_btn {
    background-color:#333333;
}

.swap_btn:hover {
    background-color: #fd3205;
    border: 3px solid #EEEEEE;
}

.swap_h5 {
    color: #333333;
    text-align: center;
}

.swap_p{
    color: #333333;
    text-align: justify;
    font-size: 0.8em;
    margin-right: 1em;
    margin-left: 1em;
}

.swap_picture {
    height: 300px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 0.8em;
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
}

#pic {
    object-fit: cover;
    width:230px;
    height:260px;
}

.swapper_card {
    height : 400px;
    margin-left: auto;
    margin-right: auto;
} 

/********************* Carte individuelle ***********************/

.swapper_btn_div {
    display: flex;
    justify-content: space-around;
}

.swapper_btn {
    width: 40%;
    border-radius: 2em;
}

#up {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    flex-wrap: wrap;
    height: 350px;
    overflow: auto;
}

#text, #other_skills {
    width : 350px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

#pic2 {
    object-fit: cover;
    width:300px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

