@font-face { 
    font-family: "Swap";
    src: url('../fonts/Galgony.ttf');
}
$dark: #333333;
$light: #ece1e1;
$bgnav1:#e93f63;
$bgnav2: #f77c76;
$width-min: 350px;
$width-tablet: 768px;
$width-desktop: 992px;
$width-max: 1500px;