<footer class="rounded-bottom">
    <a href="" class="text-center">legal notice</a>
    <a href="" class="text-center">contact us</a>
    <p class="text-center">Développé avec &#10084; par les Wilders</p>
</footer>