<footer class="rounded-bottom">
    <a href="" class="text-center">legal notice</a>
    <p class="text-center">Développé avec <span>&#10084;</span> par les Wilders</p>
    <a href="" class="text-center">contact us</a>
</footer>