<footer class="rounded-bottom mt-auto">
    <a href="{{ path('cgu') }}" class="text-center">Mentions légales</a>
    <p class="text-center">Développé avec <span>&#10084;</span> par les Wilders</p>
    <a href="{{ path('contact') }}" class="text-center">Contactez-nous</a>
</footer>
