<footer class="rounded-bottom mt-auto">
    <a href="{{ path('cgu') }}" class="text-center">Mentions légales</a>
    <p class="text-center">Skill Swap by House of Entrepreneurship of Luxembourg</p>
    <!-- Développé avec ❤ par les Wilders Promo Purple sept2021 with Cécile, Sebastien, Benjamin, Olivier, Bruno -->
    <a href="{{ path('contact') }}" class="text-center">Contactez-nous</a>
</footer>