<form method="post" action="{{ path('users_delete', {'id': app.user.id}) }}" onsubmit="Etes-vous certain(e) de vouloir nous quitter ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
    <button class="btn">Delete</button>
</form>
