<form method="post" action="{{ path('users_delete', {'id': app.user.id}) }}" onsubmit="Etes-vous certain(e) de vouloir nous quitter ?');" class="ms-4 mt-5">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
    <button class="btn btn-outline-danger rounded-pill">Supprimer mon profil</button>
    <p><i>Attention cette action entraînera la suppression définitive de votre compte utilisateur.</i></p>
</form>
